body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Fondo oscuro para buen contraste con letras claras */
    color: #f4f4f4; /* Letras claras para buen contraste con fondo oscuro */
}

header {
    background: rgba(0, 0, 0, 0.9); /* Fondo negro semitransparente */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

header h1 {
    margin: 0;
    background: linear-gradient(to right, rgb(0, 74, 173), rgb(56, 182, 255), rgb(56, 182, 255), rgb(0, 74, 173));
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: shine 6s linear infinite;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 5px;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(56, 182, 255); /* Línea azul */
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul li a:hover::after {
    width: 100%;
}

.section {
    padding: 100px 20px;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}

section h2 {
    margin: 0;
    background: linear-gradient(to right, rgb(0, 74, 173), rgb(56, 182, 255), rgb(56, 182, 255), rgb(0, 74, 173));
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: shine 6s linear infinite;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

section p a {
    text-decoration: none;
    color: steelblue;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #222;
    color: #fff;
    text-align: center;
}

#profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

#about {
    background-color: rgb(20, 20, 20);
}

#skills {
    background-color: rgb(30, 30, 30);
}

#skills .skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten a múltiples filas si es necesario */
}

#skills .skills-list li {
    margin: 20px; /* Aumenta el margen alrededor de cada imagen */
    list-style: none;
}

#skills .skills-list li img {
    border-radius: 5px;
    display: block;
    width: 100px; /* Tamaño fijo para las imágenes */
    height: 100px; /* Tamaño fijo para las imágenes */
    object-fit: cover; /* Ajusta las imágenes para que se adapten al tamaño del contenedor */
}

#experience {
    background-color: rgb(40, 40, 40);
}

#projects {
    background-color: rgb(50, 50, 50);
}

#contact {
    background-color: rgb(60, 60, 60);
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
    font-size: 2em;
    border-bottom: 2px solid rgb(56, 182, 255);
    padding-bottom: 10px;
    display: inline-block;
}

.highlight {
    background: linear-gradient(to right, rgb(0, 74, 173), rgb(56, 182, 255), rgb(56, 182, 255), rgb(0, 74, 173));
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: shine 6s linear infinite;
}

.experience-item, .project {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.social-media {
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}